.advantage2{
    padding: 44px 0 20px;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-size: cover;
    position: relative;
    height: 495px;
}
.content-advantage2{
    margin-bottom: 30px;
    p{
        margin-bottom: 42px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
.title-advantage2{
    font-size: 27px;
    color: #3e6d80;
    font-family: 'Helvetica Neue Cyr Bold';
    margin-bottom: 50px;
}
.image-advantage2{
    position: absolute;
    right: 0;
    top: -80px;
}

@media(max-width: 1200px){
    .title-advantage2{
        margin-bottom: 30px;
    }
    .content-advantage2 p{
        margin-bottom: 30px;
        font-size: 14px;
    }
}

@media(max-width: 991px){
    .advantage2{
        height: auto;
    }
    .image-advantage2{
        display: none;
    }
}

@media(max-width: 480px){
    .image-advantage2{
        display: block;
        position: relative;
        top: unset;
        bottom: -20px;
        width: 100%;
    }
    .title-advantage2{
        font-size: 17px;
    }
}