@import "../utils/vars";

.advantage {
  padding: 50px 0;
  &__title {
    margin-bottom: 50px;
  }
}

.advantage-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__item {
    padding: 0 5px;
  }
}

.advantage-item {
  &__image {
    background-color: #f8f8f8;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 25px;
    text-align: center;
    img {
      max-width: 105px;
    }
  }
  &__text {
    font-size: 17px;
    font-family: 'Helvetica Neue Cyr Light';
    color: rgb(37, 37, 37);
    line-height: 1.471;
    text-align: center;
    /* min-height: 155px; */
    margin-top: 15px;
  }
}

@media(max-width: 991px){
  .advantage-list__item{
    padding: 0 10px;
    margin-bottom: 20px;
  }
  .advantage-item__text{
    font-size: 15px;
  }
}

@media(max-width:768px){
  .advantage{
    padding: 40px 0 60px;
  }
}

@media(max-width: 480px){
  .advantage-item__text{
    font-size: 13px;
    padding: 0 20px;
  }
}