.banner{
    position: relative;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: cover;
    &:before{
        content: '';
        display: block;
        background: url('../../img/tracery.png') 50%;
        background-repeat-y: no-repeat;
        position: absolute;
        top: -12px;
        left: 0;
        width: 100%;
        height: 100px;
    }
}

.title-banner, .description-banner, .description-banner > *{
    color: #fff;
}
.title-banner{
    font-size: 70px;
    font-family: 'Helvetica Neue Cyr Thin';
    text-transform: uppercase;
    max-width: 460px;
    line-height: 82px;
}
.description-banner{
    font-size: 23px;
    font-family: 'Helvetica Neue Cyr Roman';
    text-transform: lowercase;
}

@media(min-width: 1601px) {
    .banner{
        height: 800px;
    }
}
@media(min-width: 1201px) and (max-width: 1600px) {
    .banner{
        height: 600px;
    }
}

@media(max-width: 1200px){
    .banner{
        height: 480px;
    }
}

@media(max-width:768px){
    .title-banner{
        font-size: 51px;
        line-height: 60px;
    }
    .description-banner{
        font-size: 19px;
    }
}

@media(max-width:400px){
    .banner{
        background-position-x: 60%;
    }
}