.catalog-production{
    padding-top: 60px;
    padding-bottom: 100px;
    .title-section{
        margin-bottom: 80px;
    }
}

.image-catalog-product{
    width: 100%;
    object-fit: cover;
}

.catalog-product{
    border: 1px solid #008ebd;
    border-radius: 3px;
    padding: 20px;
    .caption{
        color: #008ebd;
        display: block;
        text-align: center;
        font-size: 17px;
        font-family: 'Helvetica Neue Cyr Bold';
        margin-top: 16px;
        padding: 0 10px;
    }
}

.tab-content{
    .slick-slide{
        padding: 0 5px;
    }
    &.hidden{
        display: none;
    }
    .slick-prev, .slick-next{
        border-left: 2px solid #008ebd;
        border-bottom: 2px solid #008ebd;
    }
    .slick-disabled{
        border-left: 2px solid #ccd9dd;
        border-bottom: 2px solid #ccd9dd;
    }
    .slick-prev{
        transform: rotate(45deg);
    }
    .slick-next{
        transform: rotate(-135deg);
    }
}

.catalog-production__tabs{
    .tabs{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        .tab{
            font-family: 'Helvetica Neue Cyr Bold';
            font-size: 17px;
            margin: 0 10px;
        }
    }
}

@media(max-width: 768px){
    .catalog-production__tabs .tabs .tab{
        font-size: 13px;
        padding: 11px 14px;
        margin: 0 4px;
    }
}

@media(max-width: 480px){
    .catalog-production__tabs .tabs{
        margin-bottom: 18px;
        .tab{
            font-size: 12px;
            padding: 11px 10px;
            margin: 0;
        }
    }
    .tab-content{
        width: 86%;
        margin: auto;
    }
    .catalog-production .title-section{
        margin-bottom: 40px;
    }
}

@media(max-width: 350px){
    .catalog-production__tabs .tabs{
        flex-direction: column;
        align-items: center;
    }
}