.certificates{
    position: relative;
    padding: 50px 0 70px;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-size: cover;
    overflow: hidden;
    .title-section{
        margin-bottom: 40px;
    }
}
.certificate{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.image-bg-certificate{
    position: absolute;
    left: 0;
    top: 0;
}
.certificate__image{
    margin-bottom: 30px;
    width: 460px;
    object-fit: contain;
}
.certificate__title{
    color: #3e6d80;
    font-size: 27px;
    font-family: 'Helvetica Neue Cyr Bold';
    margin-bottom: 20px;
}
.certificate__description{
    text-align: right;
    font-size: 17px;
}

@media(max-width: 1440px){
    .image-bg-certificate{
        left: -15%;
    }
}

@media(max-width: 991px){
    .certificates{
        padding-bottom: 40px;
    }
    .certificate{
        align-items: center;
    }
    .certificate__image{
        width: 80%;
    }
    .certificate__description{
        text-align: center;
    }
    .image-bg-certificate{
        display: none;
    }
}

@media(max-width: 480px){
    .certificates{
        padding-bottom: 0;
    }
    .certificate__title{
        text-align: center;
        font-size: 19px;
    }
    .certificate__description{
        font-size: 13px;
        text-align: justify;
        padding: 0 14px;
    }
    .image-bg-certificate{
        position: relative;
        width: 100%;
        margin-top: 80px;
        display: block;
        left: 0;
    }
}