.footer{
    padding: 60px 0;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: cover;
}
.footer-menu{
    li{
        line-height: 3em;
        color: #fff;
    }
}

@media (min-width: 481px) and (max-width: 991px){
    .footer{
        padding: 40px 0;
    }
}

@media screen and (max-width: 480px){
    .footer{
        padding: 24px 0;
        .container{
            width: 100%;
        }
    }
    .footer-menu{
        li{
            font-size: 13px;
            line-height: 2.5em;
            padding-bottom: 10px;
            &:last-child{
                padding-bottom: 0;
            }
        }
    }
}