.header{
    height: 100px;
    background-color: #fff;
    position: relative;
    &:before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 10px;
        height: 5px;
        width: 100%;
        background-color: #ffd541;
        z-index: 2;
    }
    @media screen and (max-width: 480px){
        width: 100%;
    }
}
.header-menu{
    display: flex;
    /* justify-content: space-between; */
    padding-top: 19px;
    li{
        &:nth-child(-n + 2){
            flex: 0 0 19%;
        }
        &:nth-child(3){
            flex: 0 0 24%;
        }
        &:nth-child(n + 4){
            flex: 0 0 12.666%;
        }
        &:nth-child(4){
            margin-left: 20px;
        }
    }
}
.header-logo{
    display: flex;
    justify-content: center;
    height: 180px;
    /* background: radial-gradient(#fff 63%, #ffd541 63%, #ffd541 66%, #fff 66%); */
    border-radius: 0 0 150px 150px;
    border-left: 5px solid #ffd541;
    border-right: 5px solid #ffd541;
    border-bottom: 5px solid #ffd541;
    background-color: #fff;
    margin-top: -20px;
    padding-bottom: 20px;
    position: relative;
    z-index: 2;
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: -10px;
        display: block;
        background-color: #fff;
        width: calc(100% + 30px);
        height: 86px;
        z-index: 3;
    }
    img{
        position: relative;
        margin-top: 12px;
        object-fit: contain;
        z-index: 4;
    }
}
.header-circle{
    background-color: #fff;
    border-radius: 0 0 150px 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 190px;
    top: 0;
    z-index: 1;
}
.burger-menu{
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 22px;
    right: 50%;
    transform: translateX(370%);
    width: 44px;
    height: 44px;
    padding: 0;
    z-index: 3;
    padding: 13px
}
.burger-menu__line{
    display: block;
    height: 2px;
    width: 100%;
    background-color: #252525;
    margin: 1px 0;
}

@media(max-width: 1200px){
    .header-menu{
        li{
            &:nth-child(-n + 2){
                display: none;
            }
            &:nth-child(3){
                margin: auto;
                width: 260px;
                flex: 0 0 auto;
            }
            &:nth-child(1n + 4){
                display: none;
            }
        }
    }
    .burger-menu{
        display: flex;
    }
}
@media(max-width: 991px){
    .burger-menu{
        
    }
}
@media(max-width:768px){
    .header-logo{
        height: 176px;
    }
    .header-circle{
        height: 184px;
        width: 260px;
    }
    .header-menu li:nth-child(3){
        width: 236px;
    }
    .burger-menu{
        transform: translateX(336%);
    }
}
/* @media(max-width: 575px){
    .burger-menu{
        right: 20%;
    }
}
@media(max-width: 480px){
    .burger-menu{
        right: 16%;
    }
}
@media(max-width: 380px){
    .burger-menu{
        right: 10%;
    }
} */
.header-mobile{
    display: none;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100vh;
    border-right: 6px solid #ffd541;
    &.active{
        display: block;
    }
}
.header-mobile-menu{
    li{
        &:nth-child(3){
            display: none;
        }
        
    }
    .btn-default{
        background-color: #f9f9f9;
        width: 100%;
        border-bottom: 1px solid #fff;
        font-family: 'Helvetica Neue Cyr Bold';
        padding-left: 30px;
        &.active{
            border-radius: 0;
            background-color: #ffd541;
        }
    }
    .btn-default:focus:not(.active), .btn-default:hover:not(.active), .btn-default:active:not(.active){
        border-radius: 0;
    }
}
.header-menu__close{
    position: absolute;
    top: 25px;
    right: 25px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
}

.header-mobile-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px 0;
}

@media(max-width: 400px){
    .header-logo:before{
        width: 130%;
    }
}