@import '../utils/vars';

.intermediate-block{
    padding: 60px 0;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-size: cover
}
.title-intermediate-block, .description-intermediate-block{
    color: #fff;
    text-align: center;
}
.title-intermediate-block{
    font-size: 47px;
    margin-bottom: 12px;
}
.description-intermediate-block{
    font-size: 27px;
}
@media (min-width: 481px) and (max-width: 991px){
    .intermediate-block{
        padding: 40px 0;
    }
    .title-intermediate-block{
        font-size: 38px;
        margin-bottom: 10px;
    }
    .description-intermediate-block{
        font-size: 20px;
    }
}
@media screen and (max-width: 480px){
    .intermediate-block{
        padding: 24px 0;
    }
    .title-intermediate-block{
        font-size: 27px;
        margin-bottom: 8px;
    }
    .description-intermediate-block{
        font-size: 16px;
    }
}