.modal-thanks{
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 6;
    display: flex;
    align-items: center;
    &.hidden{
        display: none;
    }
}
.modal-thanks-inner{
    width: 370px;
    min-height: 200px;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.modal-thanks__header{
    height: 40px;
    width: 100%;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        right: 36px;
        width: 0;
        height: 0;
        border-bottom: 40px solid #ffd541; 
        border-left: 20px solid transparent;
    }
    &:after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 36px;
        height: inherit;
        background-color: #ffd541;
    }
}
.modal-thanks__content{
    padding: 36px;
    background-image: url(../../img/bg-certeficate-fill.png);
    width: 100%;
}

.modal-thanks__close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
}
.modal-thanks__close__line{
    width: 100%;
    height: 2px;
    background-color: #252525;
    display: block;
    position: absolute;
    top: 9px;
    border-radius: 3px;
    &:first-child{
        transform: rotate(45deg);
    }
    &:last-child{
        transform: rotate(-45deg);
    }
}

.title-modal-thanks, .desc-modal-thanks{
    color: #252525;
    text-align: center;
    margin-bottom: 22px;
}
.title-modal-thanks{
    font-size: 37px;
}
.desc-modal-thanks{
    font-size: 23px;
}

@media(max-width: 480px){
    .modal-thanks-inner{
        width: 86%;
    }
    .modal-thanks__content{
        padding: 36px 2%;
    }
}