.our-production{
    padding: 40px 0 140px;
    .container{

    }
    .title-section{
        margin-bottom: 50px;
    }
}
.description-our-production{
    text-align: center;
    width: 80%;
    margin: auto;
}

.our-production__images{
    margin-top: 80px;
    &-item{
        &:nth-child(2n){
            img{
                /* transform: translateY(80px); */
                margin-top: 80px;
            }
        }
    }
}
@media(max-width: 991px){
    .our-production{
        .title-section{
            margin-bottom: 30px;
        }
    }
    .description-our-production{
        width: 94%;
    }
    .our-production__images{
        margin-top: 60px;
        &-item{
            img{
                width: 100%;
            }
            &:nth-child(2n){
                img{
                    margin-top: 40px;
                }
            }
        }
    }
}

@media(max-width: 768px){
    .our-production{
        padding: 40px 0 100px;
    }
}

@media(max-width: 480px){
    .our-production{
        padding: 40px 0 80px;
    }
}