.where-can-one-buy{
    position: relative;
    padding: 40px 0 90px;
    /* background-repeat: no-repeat;
    background-position-x: 0;
    background-size: 70%; */
    .container{
        position: relative;
        z-index: 1;
    }
    .title-section{
        margin-bottom: 32px;
    }
}
.where-can-one-buy__image-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    background: url('../../img/bg-where-buy-mobile.png') 50% 0% no-repeat;
    background-size: 148%;
}

.map-block, .shops-list__item, .contact-form{
    border-radius: 3px;
}

.map-block{
    height: 382px;
    background-color: #fff;
}

.shops-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.shops-list__item{
    width: 20%;
    padding: 0 5px;
    margin-top: 10px;
    img{
        width: 100%;
        object-fit: cover;
    }
}
@media(max-width: 1440px){
    /* .where-can-one-buy{
        background-size: 90%;
    } */
    .where-can-one-buy__image-background{
        width: 90%;
    }
}

@media(max-width: 991px){
    /* .where-can-one-buy{
        background-size: cover;
    } */
    .where-can-one-buy__image-background{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        img{
            width: 142%;
            max-width: unset;
            transform: rotate(90deg);
        }
    }
}
@media(max-width: 480px){
    .where-can-one-buy__image-background{
        img{
            position: absolute;
            top: 50px;
            width: 172%;
        }
    }
}
@media(max-width: 380px){
    .where-can-one-buy__image-background{
        img{
            width: 210%;
        }
    }
}
@media(max-width: 320px){
    .where-can-one-buy__image-background{
        img{
            left: -60px;
        }
    }
}

@media(min-width: 480px){
    .where-can-one-buy__image-background{
        background: url('../../img/bg-where-buy.png') 50%/cover no-repeat;
    }
}

