.content {
  background-color: #eee;
  min-height: calc(100% - 85px);
  position: relative;
  overflow: hidden; }
  .content__title {
    font-size: 75px;
    font-family: "Oswald-Regular", sans-serif;
    letter-spacing: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.image {
  background: url("../img/q.jpg") no-repeat;
  background-size: 100% 100%;
  min-height: 100vh; }
  .image-wrapper {
    margin-top: 85px;
    overflow: hidden; }

.wrapper {
  background: #333;
  min-height: 100vh;
  color: #ffffff; }
