@import '../utils/vars';

/* .btn-primary, .btn-warning, .btn-discount{
    width: 100%;
    position: relative;
    display: block;
    height: 35px;
    padding: 6px 4px;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 0 #dddede;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none !important;
    outline: none !important;
    font-family: $mainFont;
    font-size: 14px;
    &:hover, &:active, &:focus{
        box-shadow: 2px 2px 2px 0 #dddede;
    }
}

.btn-primary{
    border: 1px solid #0075ab;
    background: #0075ab;
    color: #fff;
    &:hover, &:active, &:focus{
        border: 1px solid #0075ab;
        background-color: #0075ab;
    }
}

.btn-warning{
    border: 1px solid #fbb216;
    background: #fbb216;
    color: #252525;
    &:hover, &:active, &:focus{
        border: 1px solid #fbb216;
        background-color: #fbb216;
        color: #252525;
    }
}

.btn-discount{
    border: 1px solid #ff342e;
    background: #ff342e;
    color: #fff;
    &:hover, &:active, &:focus{
        border: 1px solid #ff342e;
        background-color: #ff342e;
        color: #fff;
    }
} */

.btn-default{
    display: inline-block;
    background-color: transparent;
    color: $mainFontColor;
    font-family: 'Helvetica Neue Cyr Light';
    padding: 14px 20px;
    letter-spacing: 0.5px;
    cursor: pointer;
    
    &.active{
        background-color: #ffd541;
        border-radius: 25px 0 25px 0;
        color: #252525;
        text-decoration: none;
    }
    &:focus:not(.active), &:hover:not(.active), &:active:not(.active){
        /* background-color: lighten(#ffd541, 10%); */
        border-radius: 25px 0 25px 0;
        color: #252525;
        text-decoration: none;
    }
}
.header-menu{
    .btn-default{
        &:focus:not(.active), &:hover:not(.active), &:active:not(.active){
            background-color:#ffd541;
        }
    }
}
.btn-send{
    display: block;
    font-family: 'Helvetica Neue Cyr Roman';
    width: 170px;
    height: 40px;
    background-color: #ffd541;
    border-radius: 3px;
    text-align: center;
    color: #252525;
}