.grid-row{
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 768px){
        padding: 0;
    }
    &.grid5{
        padding: 0 25px;
        @media screen and (max-width: 768px){
            padding: 0 10px;
        }
        @media screen and (max-width: 480px){
            padding: 0 5px;
        }
        .grid__product-card{
            flex: 0 20%;
            @media screen and (max-width: 1440px){
                flex: 0 25%;
                padding: 0 4px;
                margin-bottom: 10px;
            }
            @media screen and (max-width: 991px){
                flex: 0 33.3%;
            }
            @media screen and (max-width: 768px){
                flex: 0 50%;
            }
            @media screen and (max-width: 360px){
                flex: 0 100%;
                height: 360px;
            }
        }
        .grid__product-card__inner{
            @media screen and (max-width: 1200px){
                padding: 19px 14px;
            }
            @media screen and (max-width: 768px){
                padding: 14px 10px;
            }
            @media screen and (max-width: 360px){
                padding: 20px;
            }
        }
    }
    &.grid4{
        margin-left: -10px;
        margin-right: -10px;
        @media(max-width: 1199px){
            margin-left: -4px;
            margin-right: -4px;
        }
        .grid__product-card{
            flex: 0 25%;
            @media screen and (max-width: 1440px){
                padding: 0 4px;
                margin-bottom: 10px;
            }
            /* @media screen and (max-width: 1200px){
                flex: 0 50%;
            } */
            @media screen and (max-width: 991px){
                flex: 0 33.3%;
            }
            @media screen and (max-width: 768px){
                flex: 0 50%;
            }
            @media screen and (max-width: 360px){
                flex: 0 100%;
                height: 360px;
            }
        }
        .grid__product-card__inner{
            @media screen and (max-width: 1200px){
                padding: 19px 14px;
            }
            @media screen and (max-width: 768px){
                padding: 14px 10px;
            }
            @media screen and (max-width: 360px){
                padding: 20px;
            }
        }
    }
}
.grid__product-card{
    height: 390px;
    margin-bottom: 29px;
    padding: 0 10px;
    &__inner{
        border: 1px solid #e5e5e5;
        padding: 19px;
        height: 100%;
    }
    @media screen and (max-width: 768px){
        height: 350px;
        .product-card__title{
            margin-top: 16px;
            .link{
                font-size: 14px;
            }
        }
        .product-card__price{
            .link{
                font-size: 14px;
                .old-price{
                    font-size: 11px;
                }
            }
        }
        .product-card__pic{
            height: 160px;
        }
    }
}
.product-card__pic{
    height: 180px;
    display: flex;
    justify-content: center;
    a{
        display: block;
    }
    &__img{
        max-width: 100%;
        max-height: 100%;
    }
}
.product-card__title, .product-card__price, .product-card__link-shop{
    .link{
        color: #000;
        display: block;
        text-decoration: none;
        &:hover{
            color: $theme-bg-color;
            text-decoration: underline;
        }
    }
}

.product-card__title{
    margin-top: 23px;
    .link{
        letter-spacing: 0;
        font-family: 'OpenSansRegular';
        height: 56px;
        line-height: 18px;
        overflow: hidden;
    }
}

.product-card__price{
    .link{
        font-size: 18px;
        letter-spacing: -.1px;
        font-family: 'OpenSansBold';
        &:hover{
            text-decoration: none;
            .static-price{
                text-decoration: underline;
            }
            .new-price{
                text-decoration: underline;
            }
        }
    }
    .prefix{
        font-size: 16px;
        font-family: 'MullerRegular';
    }
    .new-price{
        color: #fa6734;
    }
    .old-price{
        color: #8f9382;
        text-decoration: line-through;
        font-size: 13px;
    }
}

.product-card__link-shop{
    display: flex;
    .link{
        font-size: 12px;
        color: #9bb8b6;
    }
    .prefix{
        font-size: 12px;
        color: #000;
        margin-right: 3px;
    }
}

.product-card__buttons-bar{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    margin: 9px 0 0;
}
/* .product-card__button-see-prices, .product-card__button-in-shop, .product-card__button-discounts{
    width: 100%;
    .link{
        position: relative;
        display: block;
        width: auto;
        height: 35px;
        padding: 6px 4px;
        border-radius: 2px;
        box-shadow: 2px 2px 2px 0 #dddede;
        text-align: center;
        white-space: nowrap;
        text-decoration: none;
        cursor: pointer;
        outline: none!important;
        font-family: 'OpenSansRegular';
        font-size: 14px;
    }
} */

/* .product-card__button-see-prices{
    .link{
        border: 1px solid #fbb216;
        background: #fbb216;
        color: #252525;
    }
}

.product-card__button-discounts{
    .link{
        border: 1px solid #ff342e;
        background: #ff342e;
        color: #fff;
    }
}

.product-card__button-in-shop{
    .link{
        border: 1px solid $theme-bg-color;
        background: $theme-bg-color;
        color: #fff;
    }
} */
/* 
.product-card__button-info{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    .link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: inherit;
        height: inherit;
        border: 1px solid #cdcdcd;
        border-radius: 3px;
        text-decoration: none;
    }
    .circle{
        border-radius: 50%;
        width: 16px;
        height: 16px;
        background-color: #cdcdcd;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }
} */