.contact-form{
    padding: 30px 50px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    label{
        margin-bottom: 16px;
        width: 100%;
    }
    .title-forms{
        text-align: center;
        font-size: 27px;
        font-family: 'Helvetica Neue Cyr Roman';
        margin-bottom: 26px;
    }
    .label-field{
        font-size: 13px;
        font-family: 'Helvetica Neue Cyr Roman';
    }
}

@media(max-width: 991px){
    .contact-form{
        margin-top: 20px;
    }
}

@media(max-width: 480px){
    .contact-form{
        padding: 20px 30px;
    }
}

form{

}

input{
    
    &[type=text]{
        
    }
    &[type=checkbox]{

    }
}

.field-block{
    display: block;
    width: 100%;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    background-color: #fff;
}

// Start CHECKBOX
.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}
.checkbox + label {
    position: relative;
    padding: 0 0 0 60px;
    cursor: pointer;
}
.checkbox + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
    transition: .2s;
}
.checkbox + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: .2s;
}
.checkbox:checked + label:before {
    background: rgb(0, 140, 255);
}
.checkbox:checked + label:after {
    left: 26px;
}
.checkbox:focus + label:before {
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
// End CHECKBOX

//Start RADIO
.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}
.radio + label {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
}
.radio + label:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}
.radio + label:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: radial-gradient(#fff 35%, rgb(0, 140, 255) 38%, rgb(0, 140, 255));
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.5); */
    opacity: 0;
    transition: .2s;
}
.radio:checked + label:after {
    opacity: 1;
}
/* .radio:focus + label:before {
    box-shadow: 0 0 0 3px rgba(255,255,0,.7);
} */
// End RADIO