@import '../utils/vars';

.title-section{
    text-align: center;
    font-family: 'Helvetica Neue Cyr Light';
    font-weight: 100;
    font-size: 47px;
    &--dark{
        color: $mainFontColor;
    }
    &--light{
        color: #fff;
    }
}

@media(max-width: 768px){
    .title-section{
        font-size: 42px;
    }
}

@media(max-width: 480px){
    .title-section{
        font-size: 30px;
    }
}
@media(max-width: 350px){
    .title-section{
        font-size: 26px;
    }
}