.certificates {
  position: relative;
  padding: 50px 0 70px; }
  .certificates .title-section {
    margin-bottom: 40px; }

.certificate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.image-bg-certificate {
  position: absolute;
  left: 0;
  top: 0; }

.certificate__image {
  margin-bottom: 30px;
  width: 460px;
  -o-object-fit: contain;
     object-fit: contain; }

.certificate__title {
  color: #3e6d80;
  font-size: 27px;
  font-family: 'Helvetica Neue Cyr Bold';
  margin-bottom: 20px; }

.certificate__description {
  text-align: right;
  font-size: 17px; }

@media (max-width: 991px) {
  .certificates {
    padding-bottom: 0; }
  .certificate {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .certificate__image {
    width: 80%; }
  .certificate__description {
    text-align: center; }
  .image-bg-certificate {
    position: relative; } }
