/* FONTS */

@font-face {
    font-family: 'Helvetica Neue Cyr Bold';
    src: url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot');
    src: url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Cyr Light';
    src: url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot');
    src: url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff') format('woff'),
    url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Cyr Thin';
    src: url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.eot');
    src: url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.woff') format('woff'),
    url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Cyr Roman';
    src: url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot');
    src: url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}