<div class="advantage2" style="background-image: url('../../img/bg-certeficate-fill.png')">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-12">
                <h3 class="title-advantage2">Преимущества продукции «Халяль»</h3>
                <div class="content-advantage2">
                    <p>
                        <strong>Дозволенность</strong>
                        Для любого мусульманина, который верит в Бога и заботится о своей душе  и своём теле, пища, которую он потребляет, должна быть дозволенной.  
                        Безусловно, у продукции «Халяль» ещё много преимуществ для людей  любых религий и воззрений, но для мусульман это главная причина.
                    </p>
    
                    <p>
                        <strong>Польза для здоровья</strong>
                        Когда животное забивают в соответствии со стандартом «Халяль»,  мясо максимально обескровливается 
                        (это обусловлено  методом убоя). Мясо «Халяль» более устойчиво к бактериям,  хранится дольше и имеет более приятный вкус.
                    </p>
    
                    <p>
                        <strong>Безопасность</strong>
                        Сертифицированная продукция «Халяль» проходит дополнительную  проверку, что делает её более безопасной. 
                        Кроме производителя за качество данной продукции отвечает и сертифицирующая  организация.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <img src="../../img/dishes.png" alt="" class="image-advantage2">
</div>