<section class="advantage">
  <div class="container">
    <h2 class="advantage__title title-section title-section--dark">Преимущества</h2>
    <ul class="advantage-list row">
      <li class="advantage-list__item col-6 col-sm-4 col-lg-2">
        <div class="advantage-item">
          <div class="advantage-item__image"><img src="img/advantage-logo/1.png" alt="adv logo"></div>
          <div class="advantage-item__text">Сертифицированный халляль</div>
        </div>
      </li>
      <li class="advantage-list__item col-6 col-sm-4 col-lg-2">
        <div class="advantage-item">
          <div class="advantage-item__image"><img src="img/advantage-logo/2.png" alt="adv logo"></div>
          <div class="advantage-item__text">Высокое качество</div>
        </div>
      </li>
      <li class="advantage-list__item col-6 col-sm-4 col-lg-2">
        <div class="advantage-item">
          <div class="advantage-item__image"><img src="img/advantage-logo/3.png" alt="adv logo"></div>
          <div class="advantage-item__text">Натуральный продукт</div>
        </div>
      </li>
      <li class="advantage-list__item col-6 col-sm-4 col-lg-2">
        <div class="advantage-item">
          <div class="advantage-item__image"><img src="img/advantage-logo/4.png" alt="adv logo"></div>
          <div class="advantage-item__text">Только артезианская вода</div>
        </div>
      </li>
      <li class="advantage-list__item col-6 col-sm-4 col-lg-2">
        <div class="advantage-item">
          <div class="advantage-item__image"><img src="img/advantage-logo/5.png" alt="adv logo"></div>
          <div class="advantage-item__text">Без антибиотиков и ГМО</div>
        </div>
      </li>
      <li class="advantage-list__item col-6 col-sm-4 col-lg-2">
        <div class="advantage-item">
          <div class="advantage-item__image"><img src="img/advantage-logo/6.png" alt="adv logo"></div>
          <div class="advantage-item__text">Используются злаковые нормы</div>
        </div>
      </li>
    </ul>
  </div>
</section>