<section class="banner" style="background-image: url('../../img/background.png');">
    <div class="container">
        <h1 class="title-banner">Традиции ислама</h1>
        <p  class="description-banner">при неизменно <span class="underline">высоком</span> качестве</p>
    </div>
</section>