<div id="catalog-production-anchor" class="catalog-production">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-section title-section--dark">Каталог продукции</div>
            </div>
        </div>
        <div class="catalog-production__tabs">
            <ul class="tabs">
                <li class="tab js-tab btn-default active" data-tab-index="1">Субпродукты</li>
                <li class="tab js-tab btn-default" data-tab-index="2">Полуфабрикаты</li>
                <li class="tab js-tab btn-default" data-tab-index="3">Мясо птицы</li>
            </ul>
            <div class="tab-content js-tab-content js-multiple-slick-slider" data-tab-content-index="1">
                <div class="catalog-product">
                    <img src="../../img/product.png" class="image-catalog-product" alt="">
                    <span class="caption">Филе малое охлажденное 1</span>
                </div>
                <div class="catalog-product">
                    <img src="../../img/product.png" class="image-catalog-product" alt="">
                    <span class="caption">Филе малое охлажденное 1</span>
                </div>
                <div class="catalog-product">
                    <img src="../../img/product.png" class="image-catalog-product" alt="">
                    <span class="caption">Филе малое охлажденное 2</span>
                </div>
                <div class="catalog-product">
                    <img src="../../img/product.png" class="image-catalog-product" alt="">
                    <span class="caption">Филе малое охлажденное 3</span>
                </div>
                <div class="catalog-product">
                    <img src="../../img/product.png" class="image-catalog-product" alt="">
                    <span class="caption">Филе малое охлажденное 4</span>
                </div>
            </div>

            <div class="tab-content js-tab-content hidden js-multiple-slick-slider"  data-tab-content-index="2">
                <div class="catalog-product">
                    <img src="../../img/product.png" class="image-catalog-product" alt="">
                    <span class="caption">Филе малое охлажденное 5</span>
                </div>
                <div class="catalog-product">
                    <img src="../../img/product.png" class="image-catalog-product" alt="">
                    <span class="caption">Филе малое охлажденное 6</span>
                </div>
                <div class="catalog-product">
                    <img src="../../img/product.png" class="image-catalog-product" alt="">
                    <span class="caption">Филе малое охлажденное 7</span>
                </div>
                <div class="catalog-product">
                    <img src="../../img/product.png" class="image-catalog-product" alt="">
                    <span class="caption">Филе малое охлажденное 8</span>
                </div>
            </div>

            <div class="tab-content js-tab-content hidden js-multiple-slick-slider"  data-tab-content-index="3">
                <div class="catalog-product">
                    <img src="../../img/product.png" class="image-catalog-product" alt="">
                    <span class="caption">Филе малое охлажденное 9</span>
                </div>
                <div class="catalog-product">
                    <img src="../../img/product.png" class="image-catalog-product" alt="">
                    <span class="caption">Филе малое охлажденное 10</span>
                </div>
                <div class="catalog-product">
                    <img src="../../img/product.png" class="image-catalog-product" alt="">
                    <span class="caption">Филе малое охлажденное 11</span>
                </div>
                <div class="catalog-product">
                    <img src="../../img/product.png" class="image-catalog-product" alt="">
                    <span class="caption">Филе малое охлажденное 12</span>
                </div>
            </div>
        </div>
    </div>
</div>