<div id="certificates-anchor" class="certificates" style="background-image: url('../../img/bg-certeficate-fill.png')">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="title-section title-section--dark">Наши сертификаты</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-12">

            </div>
            <div class="col-lg-7 col-12">
                <div class="certificate">
                    <img src="../../img/certeficate.png" alt="" class="certificate__image">
                    <h3 class="certificate__title">Сертификат на каждую партию</h3>
                    <p class="certificate__description">
                        Каждая выпускаемая партия сопровождается сертификатом, с указанием даты изготовления, номером ветеринарного свидетельства, транспортной накладной и клиента. Благодаря этому, каждый покупатель может позвонить в МЦСиС 
                        Халяль и получить информацию об условиях изготовления продукции вплоть до имен специалистов, работающих при производстве.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <img src="../../img/bg-certeficate.png" alt="" class="image-bg-certificate">
</div>