<footer class="footer" style="background-image: url('../../img/footer-bg.png');">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="footer-menu">
          <li>«Ржевская птицефабрика» (филиал №1) ООО «Дантон-Птицепром»</li>
          <li>172369,РФ, Тверская обл., Ржевский район, посёлок Есинка,</li>
          <li>тел. +7 (48232) 7-11-05, 7-11-29</li>
          <li>info@kur-kuma.ru</li>
        </ul>
      </div>
    </div>
  </div>
</footer>