<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Title</title>

<!-- CSS style links -->
<link rel="stylesheet" href="css/libs.min.css">
<link rel="stylesheet" href="css/main.css">

<!-- TODO: change content attribute  -->
<link rel="shortcut icon"       href="img/favicon/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon"    href="img/favicon/apple-touch-icon.png">
<link rel="apple-touch-icon"    href="img/favicon/apple-touch-icon-16x16.png" sizes="72x72">
<link rel="apple-touch-icon"    href="img/favicon/apple-touch-icon-32x32.png" sizes="114x114">

<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#000000" />

<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#000000" />

<!-- iOS Safari -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-transcluent" />

<!--&lt;!&ndash; Яндекс.Браузер &ndash;&gt;-->
<!--<meta name="viewport" content="ya-title=#000000,ya-dock=fade" />-->