<header class="header">
    <div class="container">
        <div class="header-circle"></div>
        <ul class="header-menu">
            <li><a href="#about-us-buy-anchor" class="btn-default">О нашей фабрике</a></li>
            <li><a href="#catalog-production-anchor" class="btn-default">Каталог продукции</a></li>
            <li>
                <a href="#" class="header-logo">
                    <img src="../../img/logo.png" alt="">
                </a>
            </li>
            <li><a href="#certificates-anchor" class="btn-default">Сертификация</a></li>
            <li><a href="#our-production-anchor" class="btn-default">Производство</a></li>
            <li><a href="#buy-anchor" class="btn-default">Где купить</a></li>
        </ul>
        <div class="burger-menu btn-default active">
            <span class="burger-menu__line"></span>
            <span class="burger-menu__line"></span>
            <span class="burger-menu__line"></span>
        </div>
    </div>
    <div class="header-mobile">
        <div class="header-menu__close js-header-menu-close">
            <span class="modal-thanks__close__line"></span>
            <span class="modal-thanks__close__line"></span>
        </div>
        <div class="header-mobile-logo">
            <img src="" alt="">
        </div>
        <ul class="header-mobile-menu">
            <li><a href="#about-us-buy-anchor" class="btn-default js-header-menu-close">О нашей фабрике</a></li>
            <li><a href="#catalog-production-anchor" class="btn-default js-header-menu-close">Каталог продукции</a></li>
            <li>
                <a href="#" class="header-logo">
                    <img src="../../img/logo.png" alt="">
                </a>
            </li>
            <li><a href="#certificates-anchor" class="btn-default js-header-menu-close">Сертификация</a></li>
            <li><a href="#our-production-anchor" class="btn-default js-header-menu-close">Производство</a></li>
            <li><a href="#buy-anchor" class="btn-default js-header-menu-close">Где купить</a></li>
        </ul>   
    </div>
</header>