<div id="about-us-buy-anchor" class="intermediate-block" style="background-image: url('../../img/footer-bg.png');">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="title-intermediate-block">«Кур-кума» - настоящий Халяль</h2>
                <p  class="description-intermediate-block">в соответствии с канонами Ислама</p>
            </div>
        </div>
    </div>
</div>