<div class="modal-thanks js-modal hidden">
    <div class="modal-thanks-inner">
        <div class="modal-thanks__header" style="background-image: url('../../img/footer-bg.png')">
            <div class="modal-thanks__close js-modal-close">
                <span class="modal-thanks__close__line"></span>
                <span class="modal-thanks__close__line"></span>
            </div>
        </div>
        
        <div class="modal-thanks__content">
            <h1 class="title-modal-thanks">Спасибо!</h1>
            <p class="desc-modal-thanks">Ваше обращение принято!</p>
            <!-- <button class="btn-send js-modal-close">Ок</button> -->
        </div>
    </div>
</div>