<div id="our-production-anchor" class="our-production">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="title-section title-section--dark">Наше производство</h2>
                <p class="description-our-production">Производство ведется на Ржевской Птицефабрике под постоянным контролем независимого эксперта-контролера МЦСиС Халяль, который подтверждает качество и соответствие требованиям Халяль каждой партии.</p>
            </div>
        </div>
        <div class="row our-production__images">
            <div class="col-lg-3 col-6 our-production__images-item">
                <img src="../../img/our-production/001.png" alt="">
            </div>
            <div class="col-lg-3 col-6 our-production__images-item">
                <img src="../../img/our-production/002.png" alt="">
            </div>
            <div class="col-lg-3 col-6 our-production__images-item">
                <img src="../../img/our-production/003.png" alt="">
            </div>
            <div class="col-lg-3 col-6 our-production__images-item">
                <img src="../../img/our-production/004.png" alt="">
            </div>
        </div>
    </div>
</div>