<div class="product">
  <div class="container">
    <h2 class="product__title title">«Кур-кума» - настоящий Халяль</h2>
    <span class="product__title_excerpt">в соответствии с канонами Ислама</span>
  </div>
</div>
<div class="product-adv">
  <div class="container">
    <div class="product-adv__left">
      <div class="product-adv__title">Преимущества продукции «Халяль»</div>
      <p class="product-adv__text">
        <b>Дозволеннность</b> Для любого мусульманина, который верит в Бога и заботится о своей душе  и своём теле, пища, которую он потребляет, должна быть дозволенной.  Безусловно, у продукции «Халяль» ещё много преимуществ для людей  любых религий и воззрений, но для мусульман это главная причина.
      </p>
      <p class="product-adv__text"></p>
      <p class="product-adv__text"></p>
    </div>
    <div class="product-adv__right"></div>
  </div>
</div>