<div id="buy-anchor" class="where-can-one-buy">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="title-section title-section--dark">Где купить?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="map-wrapper">
                    <div class="map-block">

                    </div>
                    <ul class="shops-list">
                        <li class="shops-list__item"><img src="../../img/shops/001.png" alt=""></li>
                        <li class="shops-list__item"><img src="../../img/shops/002.png" alt=""></li>
                        <li class="shops-list__item"><img src="../../img/shops/003.png" alt=""></li>
                        <li class="shops-list__item"><img src="../../img/shops/004.png" alt=""></li>
                        <li class="shops-list__item"><img src="../../img/shops/005.png" alt=""></li>
                        <li class="shops-list__item"><img src="../../img/shops/006.png" alt=""></li>
                        <li class="shops-list__item"><img src="../../img/shops/007.png" alt=""></li>
                        <li class="shops-list__item"><img src="../../img/shops/008.png" alt=""></li>
                        <li class="shops-list__item"><img src="../../img/shops/008.png" alt=""></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="contact-form">
                    <h3 class="title-forms">Есть вопрос?</h3>
                    <form>
                        <label>
                            <span class="label-field">Ваше имя (обязательно)</span>
                            <input type="text" name="name" class="field-block">
                        </label>
                        
                        <label>
                            <span class="label-field">Ваш Email (обязательно)</span>
                            <input type="text" name="email" type="email" class="field-block contact-form-valid-email">
                        </label>
                        
                        <label>
                            <span class="label-field">Тема</span>
                            <input type="text" name="theme" class="field-block">
                        </label>
                        
                        <label>
                            <span class="label-field">Сообщение</span>
                            <textarea name="" id="" cols="10" rows="4" name="message" class="field-block"></textarea>
                        </label>
                        
                        <button class="btn-send js-btn-form">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="where-can-one-buy__image-background">
        <!-- <img src="../../img/bg-where-buy.png" alt="" > -->
    </div>
</div>