@import "vars";

.product {
  background: url('../img/product-bg.png') no-repeat;
  background-size: cover;
  padding: 50px;
  &__title.title {
    color: #fff;
  }
  &__title {
    &_excerpt {
      color: #fff;
      display: block;
      font-size: 27px;
      font-family: "HelveticaNeueCyrLight", sans-serif;
      font-weight: 100;
      line-height: 0.926;
      margin-top: 35px;
      text-align: center;
    }
  }
}

.product-adv {
  display: flex;
  overflow: hidden;
  &__left {
    flex: 0 0 calc(100% - 515px);
    max-width: calc(100% - 515px);
  }
  &__right {
    flex: 0 0 515px;
    max-width: 515px;
  }
}