/* default styles for all pages */

body{
    overflow-x: hidden;
}

.custom-object-fit{
    position: relative;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.underline{
    text-decoration: underline;
}

@media(min-width: 1440px){
    .container{
        width: 1200px;
    }
}
@media(max-width:480px){
    .container{
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media(max-width:350px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}

// Utils
@import 'utils/reset';
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/for-plugins';

*{
    font-family: $mainFont;
    color: $mainFontColor;
}

// Common


// Modules
@import 'modules/breadcrums';
@import 'modules/forms';
@import 'modules/buttons';
@import 'modules/title-sections';

//Sections
@import 'sections/header';
@import 'sections/footer';
@import 'sections/banner';
@import 'sections/advantage';
@import 'sections/advantage2';
@import 'sections/intermediate-block';
@import 'sections/certificate';
@import 'sections/our-production';
@import 'sections/where-can-one-buy';
@import 'sections/catalog-production';
@import 'sections/modal-thanks';

// Page category
@import 'pages/home';
@import 'pages/category';
@import 'pages/product';

